body{
    font-family: Fira Code;
	background: black;
	background-image: url("./bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#div_menu{
	margin: 0 auto;
    display: flex;
    list-style-type: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom-style: solid;
    background: white;
    z-index: 1024;
}
#div_menu a{
    float: left;
    padding-right: 12pt;
    padding-left: 12pt;
    padding-top: 12pt;
    padding-bottom: 12pt;
    text-decoration: none;
    color: black;
}
#div_main{
    padding-top: 60px;
    padding-bottom: 20px;
    min-height: 700px;
    width: 960px;
    margin: 0 auto;
    background: rgba(255,255,255,.9);
}
#div_main h1,h2,h3{
    text-align: center;
    font-family: Fira Code;
}
#div_main h1{font-size: 30pt;}
#div_main h2{font-size: 15pt;}
#div_main h3{font-size: 10pt;}
a{color:#0969da;}
a:hover{background: rgba(128,128,128,.5);}
